:root {
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown-800: #854632;
    --white:#FFFFFF;
    --spacing-1600: 128px;
    --spacing-600: 48px;
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
}

.text-preset-1 {
    font-family: "Young Serif", serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--stone-900);
    margin-bottom: var(--spacing-300);
}

.text-preset-2 {
    font-family: "Young Serif", serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--brown-800);
    margin-bottom: var(--spacing-300);
}

.text-preset-3 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--rose-800);
    margin-bottom: var(--spacing-200);
}

.text-preset-4 {
    font-family: "Outfit", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    color: var(--stone-600);
}

.text-preset-4 Bold {
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

li {
    padding-left: var(--spacing-200);
    margin-left: var(--spacing-300);
    margin-bottom: var(--spacing-150);
}

hr {
    border: none;
    border-top: 1px solid var(--stone-150);
    margin: var(--spacing-200) 0 var(--spacing-400) 0;
}
